.button-text {
  color: white;
  position: relative;
  font-family: sans-serif;
  width: max-content;
  font-weight: semibold;
  padding: 0px 8px 0px 8px;
  display: flex;
}

.button-text .hov {
  white-space: nowrap;
  color: grey;
  padding-left: 0px;
  opacity: 0;
  overflow: hidden;
  transition:
    padding 0.3s ease-in-out,
    max-width 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  max-width: 0;
}

.button-text:hover .hov {
  opacity: 1;
  max-width: 600px;
  padding-left: 8px;
}
